@import url("https://fonts.googleapis.com/css2?family=Nosifer&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat Alternates&display=swap");
@import "tailwindcss";
@theme {
  --font-nosifer: "Nosifer", sans-serif; 
  --font-arvo: "Nosifer", sans-serif; 
}
@keyframes subtle-glow {
  0% {
      box-shadow: 0px 0px 4px rgba(0, 255, 150, 0.3);
  }
  100% {
      box-shadow: 0px 0px 10px rgba(0, 255, 150, 0.7);
  }
}

.glow-effect {
  animation: subtle-glow 1.5s infinite alternate;
  border: 2px solid rgba(0, 255, 150, 0.8);
}
